<div class="search-area">
  <%= form_tag(method_call_situations_path, method: "get") do |f| %>
    <dl class="search">
      <dt><label>Class name</label><%= text_field_tag :class_name, params[:class_name], placeholder: "Class name" %></dt>
      <dt><label>Method name</label><%= text_field_tag :method_name, params[:method_name], placeholder: "Method name" %></dt>
      <dt><label>x days passed</label><%= number_field_tag :x_days_passed, params[:x_days_passed], placeholder: 0 %></dt>
      <dt><label>Uncalled method</label><%= check_box_tag :uncalled_method, true, params[:uncalled_method]  %></dt>
      <dd><button>Search</button></dd>
    </dl>
  <% end %>
</div>

<table class="method_call_info">
  <tbody>
    <tr>
      <th>Method name</th>
      <th>Times of called</th>
      <th>Observation start date</th>
    </tr>
    <% @method_call_situations.each do |method_call_situation| %>
      <tr>
        <td>
          <%= method_call_situation.class_name %><%= method_call_situation.method_symbol %><%= method_call_situation.method_name %>
        </td>
        <td>
          <%= method_call_situation.called_num %>
        </td>
        <td>
          <%= method_call_situation.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @method_call_situations %>


