<table class="method_call_info">
  <tbody>
    <tr>
      <th>Method name</th>
      <th>Number of calls</th>
      <th>Monitoring start date</th>
      <th>Last call date</th>
    </tr>
    <% @method_call_situations.each do |method_call_situation| %>
      <tr>
        <td>
          <%= method_call_situation.class_name %><%= method_call_situation.method_symbol %><%= method_call_situation.method_name %>
        </td>
        <td>
          <%= method_call_situation.called_num %>
        </td>
        <td>
          <%= method_call_situation.created_at %>
        </td>
        <td>
          <%= method_call_situation.called_num > 0 ? method_call_situation.updated_at : "Not called" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @method_call_situations %>


